body {
  margin: 0;
  padding: 0;
}

.filters {
  width: 100%;
  clear: both;
  background: red;
}

.frames {
  width: 40%;
  float: left;

  &.no-detail {
    width: 100%;
  }
}

.detail {
  width: 60%;
  float: right;
}