.panel {
  ul {
    margin: 0;
    padding: 0;

    li {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .frame {

    .send {
      background: #e2f7da;
    }

    .response {
      margin-left: 20px;
    }

    .selected {
      background: #3879DD;
    }
  }
}